.dashboardList {
  width: 700px;
  margin: 100px auto;
  list-style: none;
  padding: 0px;
  border-radius: 10px; /*inconsistency */
  background: white;
  overflow: hidden;
  box-shadow: 0px 0px 4px 1px rgba(62, 118, 244, 0.14);
}

.dashboardMessage {
  height: 100vh;
  padding: 20px 20px;
  display: flex;
  font-weight: bold;
}

.eventListItem {
  width: 100%;
  height: 90px;
  /* padding: 26px 20px; - inconsistency*/
  background: white;
  display: flex;
  border: 0px solid rgba(62, 118, 244, 0.14);
  box-shadow: 0px 0px 4px 1px rgba(62, 118, 244, 0.14);
  font-size: 14px;
  margin: 1px;
}

.subtitle {
  font-size: 12px;
}

.eventListItem:hover {
  background: rgb(255, 233, 236);
}

.eventTitle {
  width: 600px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eventTitle:hover{
    overflow: visible; 
    white-space: normal;
    height:auto; 
}

.eventTitle > span {
  font-weight: 700;
}

.avatar {
  margin: 20px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
}
